.field-top {
  margin: 10px 15px 5px 15px;
  width: 470px;
}

.field {
  margin: 10px 15px 10px 15px;
  width: 470px;
}

.buttons-form-field {
  margin-left: 15px;
  padding: 0;
  width: 470px;
}

.button-create {
  width: 150px;
}

.button-close {
  width: 100px;
}
